<%- include('partials/header') %>
<h1>Questions for <%= course.title %></h1>
<p><a href="/courses/<%= course.course_id %>/questions/new">New Question</a></p>
<ul>
  <% questions.forEach(function(question) { %>
    <li><a href="/courses/<%= course.course_id %>/questions/<%= question.question_id %>">#<%= question.question_id %> - <%= question.prompt %></a> (<%= question.qtype %>)</li>
  <% }) %>
</ul>
<%- include('partials/footer') %>
