<%- include('partials/header') %>
<h1>Quizzes for <%= course.title %></h1>
<p><a href="/courses/<%= course.course_id %>/quizzes/new">New Quiz</a></p>
<ul>
  <% quizzes.forEach(function(quiz) { %>
    <li><a href="/courses/<%= course.course_id %>/quizzes/<%= quiz.quiz_id %>"><%= quiz.title %></a></li>
  <% }) %>
</ul>
<%- include('partials/footer') %>
