<%- include('../partials/header') %>
<h2>Extracted Files</h2>
<p>Course <%= course_id %>, Assignment <%= assignment_id %>, Submission <%= submission_id %></p>
<p>
  <a href="/courses/<%= course_id %>/assignments/<%= assignment_id %>/submissions">Back to submissions</a>
</p>
<table border="1" cellpadding="5">
  <tr><th>Path</th><th>Size</th><th>Modified</th></tr>
  <% files.forEach(f => { %>
    <tr><td><%= f.path %></td><td><%= f.size %></td><td><%= f.mtime %></td></tr>
  <% }) %>
</table>
<%- include('../partials/footer') %>
