<%- include('../partials/header') %>
<h2>Users</h2>
<div class="card">
  <table width="100%" border="1" cellspacing="0" cellpadding="6">
    <tr><th>user_id</th><th>username</th><th>display_name</th><th>created_at</th></tr>
    <% users.forEach(u => { %>
      <tr>
        <td><%= u.user_id %></td>
        <td><%= u.username %></td>
        <td><%= u.display_name %></td>
        <td><%= u.created_at %></td>
      </tr>
    <% }) %>
  </table>
</div>
<%- include('../partials/footer') %>
