<%- include('../partials/header') %>
<h2>Me</h2>
<div class="card">
  <p><b>User ID:</b> <%= me.user_id %></p>
  <p><b>Username:</b> <%= me.username %></p>
  <p><b>Display name:</b> <%= me.display_name %></p>
</div>
<%- include('../partials/footer') %>
