<%- include('../partials/header') %>
<h2>Materials Files</h2>
<p>Course <%= course_id %></p>
<p>
  <a href="/courses/<%= course_id %>/materials/upload-zip">Upload ZIP</a> |
  <a href="/courses/<%= course_id %>/materials/download-zip">Download ZIP</a> |
  <a href="/courses/<%= course_id %>">Back</a>
</p>
<table border="1" cellpadding="5">
  <tr><th>Path</th><th>Size</th><th>Modified</th></tr>
  <% files.forEach(f => { %>
    <tr>
      <td><%= f.path %></td>
      <td><%= f.size %></td>
      <td><%= f.mtime %></td>
    </tr>
  <% }) %>
</table>
<%- include('../partials/footer') %>
