<%- include('../partials/header') %>
<h2>Upload Materials ZIP</h2>
<p>Course <%= course_id %></p>
<% if (typeof error !== 'undefined') { %><p style="color:red"><%= error %></p><% } %>
<form method="post" action="/courses/<%= course_id %>/materials/upload-zip" enctype="multipart/form-data">
  <input type="file" name="zip" accept=".zip" />
  <button type="submit">Upload & Extract</button>
</form>
<p><a href="/courses/<%= course_id %>">Back</a></p>
<%- include('../partials/footer') %>
