<%- include('../partials/header') %>
<h2>Courses</h2>
<p><a href="/courses/new">Create course</a></p>
<% courses.forEach(c => { %>
  <div class="card">
    <h3><a href="/courses/<%= c.course_id %>"><%= c.title %></a></h3>
    <p><%= c.description %></p>
    <p class="muted">Created by <%= c.created_by_username %></p>
  </div>
<% }) %>
<%- include('../partials/footer') %>
