<%- include('partials/header') %>
<h1>My Account</h1>
<ul>
  <li>User ID: <%= user.user_id %></li>
  <li>Username: <%= user.username %></li>
  <li>Display Name: <%= user.display_name %></li>
  <li>Created At: <%= user.created_at %></li>
</ul>
<%- include('partials/footer') %>
