<%- include('../partials/header') %>
<h2>Question #<%= question.question_id %></h2>
<p><a href="/courses/<%= course_id %>/questions">Back</a></p>
<div class="card">
  <p><b>Type:</b> <%= question.qtype %></p>
  <p><b>Prompt:</b> <%= question.prompt %></p>
  <p><b>Options JSON:</b></p>
  <pre><%= question.options_json || '' %></pre>
  <p><b>Answer JSON:</b></p>
  <pre><%= question.answer_json || '' %></pre>
  <p><a href="/courses/<%= course_id %>/questions/<%= question.question_id %>/edit">Edit</a></p>
  <form method="post" action="/courses/<%= course_id %>/questions/<%= question.question_id %>/delete" onsubmit="return confirm('Delete question?')">
    <button type="submit">Delete</button>
  </form>
</div>
<%- include('../partials/footer') %>
